@import url(https://fonts.bunny.net/css?family=figtree:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@import 'tailwindcss';
@import '@nuxt/ui';

* > * {
  font-family: 'Figtree', sans-serif;
}

:root {
  --ui-radius: 0.5rem;
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}
